p {
    font-family: arial;
    font-size: 30px;
    margin: 20px auto;
    padding: 30px;
    position: relative;
    width: 700px;
    border-left: 6px solid #3fd6c5;
    border-radius: 3px;
    background-color: #eee;
}

p::before {
    content: attr(data-person);
    position: absolute;
    margin: 20px;
    padding: 30px;
    top: -21%;
    left: -220px;
    background-color: #eee;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

p::after {
    content: "";
    position: absolute;
    top: 30px;
    left: -35px;
    border: 16px solid;
    border-color: transparent #3fd6c5 transparent transparent;
}

