.p-one {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.p-two {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
}

.p-three {
    font-family: "Jomhuria", serif;
    font-weight: 400;
}