body {
  display: flex;
  justify-content: center;
}

span {
  display: inline-block;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border: 5px black solid;
  border-bottom-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
