/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
} */

div {
    width: 400px;
    height: 30px;
    border: 3px solid var(--mainColor, black);
    padding: var(--mainPadding, 10px);
    margin: 10px;
    color: var(--mainColor, red);
    font: 20px Arial,sans-serif;
}