div{
    width: 400px;
    height: 400px;
    color: white;
    padding: 20px;
    background-image: url(./media/css-assignment-5-8.png);
    background-color: blanchedalmond;
}

.assign-4-shape-1{
    background-repeat: no-repeat;
    background-size: 80%;
}

.assign-4-shape-2{
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: right;
}

.assign-4-shape-3{
    background-repeat: repeat-x;
    background-size: 80%;
    background-position: bottom;
}

.assign-4-shape-4{
    background-repeat: no-repeat;
    background-position: right bottom;
}