div {
    width: 400px;
    margin: auto;
    margin-top: 180px;
    background-color: #eeeeee;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 3px solid #f35b50;
    border-right: 3px solid #2196f3;
    border-bottom: 3px solid #f35b50;
    border-left: 3px solid #2196f3;
    position: relative;
    line-height: 1.8;
    text-align: center;
}

span {
    position: absolute;
    background-color: #2196f3;
    color: white;
    width: 36px;
    text-align: center;
}

.top-left, .bottom-left {
    border-right: 3px solid #f35b50;
}

.top-right, .bottom-right {
    border-left: 3px solid #f35b50;
}

.top-left {
    top: -15px;
    left: -21px;
}

.bottom-left {
    bottom: -15px;
    left: -21px;
}

.top-right {
    top: -15px;
    right: -21px;
}

.bottom-right{
    bottom: -15px;
    right: -21px;
}