* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font: normal small-caps normal 16px/0px arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  height: 200px;
  width: 400px;
  background-color: #eee;
  padding: 30px;
  position: relative;
}

.input-box input {
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #d6d4d4;
  border-left-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-box .prefix {
  display: inline-block;
  width: 50px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  background-color: #009688;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 40%;
  left: 10%;
}
